table {
  font-family: "IBM Plex Sans", "Franklin Gothic", "ITC Franklin Gothic", helvetica, arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ebf1eb;
  color: rgb(19, 17, 17);
}

a,
article,
body,
code,
dd,
div,
dl,
dt,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
legend,
li,
main,
ol,
p,
pre,
section,
table,
td,
textarea,
th,
tr,
ul,
[type='email'],
[type='number'],
[type='password'],
[type='tel'],
[type='text'],
[type='url'],
.border-box {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  color: #1f2129;
  font-family: "IBM Plex Sans", "Franklin Gothic", "ITC Franklin Gothic", helvetica, arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0; }

::selection {
  background-color: #1b54d9;
  color: #fff; }

img {
  max-width: 100%; }

.bg-center {
  background-repeat: no-repeat;
  background-position: center center; }

.bg-top {
  background-repeat: no-repeat;
  background-position: top center; }

.bg-right {
  background-repeat: no-repeat;
  background-position: center right; }

.bg-bottom {
  background-repeat: no-repeat;
  background-position: bottom center; }

.bg-left {
  background-repeat: no-repeat;
  background-position: center left; }

.CheckBox {
  box-sizing: border-box;
  /* 1 */
  padding: 0;}